* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.whole-container {
  display: flex;
  justify-content: space-between;
  height: 150vh;
}
/*Left side stylings*/
.left-section-container {
  background-color: rgba(6, 87, 82, 0.988);
  width: 29%;
  box-shadow: 1px 0px;
}
.left-section-container h1 {
  margin-top: 15px;
  /* text-align: center; */
  color: white;
  margin-bottom: 5px;
  padding-left: 20px;
}
.left-section-container .small-underline {
  border-bottom: 0.7px solid white;
  width: 10%;
  margin-left: 90px;
  margin-bottom: 10px;
}

.left-section-container p {
  color: white;
  /* text-align: center; */
}
.left-section-container .fs-dev {
  margin-bottom: 15px;
  padding-left: 20px;
}
.left-section-container h3 {
  color: white;
  margin-left: 50px;
  font-size: 1.5rem;
}
.details {
  margin-bottom: 30px;
}

.details a {
  text-decoration: underline;
  color: white;
}
.details p {
  margin-bottom: 8px;
  margin-left: 15px;
  margin-right: 10px;
}
.details h3 {
  margin-bottom: 10px;
}
.skills {
  margin-bottom: 20px;
}
.skills p {
  margin-bottom: 7px;
  margin-left: 10px;
  margin-right: 10px;
}
.skills h3 {
  margin-bottom: 20px;
}
.education div h3 {
  margin-bottom: 20px;
}
.left-section-container .education .school {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}

.left-section-container .education .school .date {
  padding-left: 20px;
}
.left-section-container .education .school .school-details {
  color: white;
  margin-left: 20px;
  width: 80%;
  /* display: flex;
  flex-direction: column; */
  padding-right: 20px;
}
.school-details h4 {
  margin-bottom: 6px;
}
.left-section-container
  .education
  .school
  .school-details
  .education-description {
  padding-bottom: 10px;
  line-height: 1.5;
  width: 100%;
}

.school-details p {
  line-height: 1.1;
  margin-top: 0;
}
.school-details h4 {
  font-size: 16px;
}

/*Right detail section*/
.right-section-container {
  width: 69%;
  padding-right: 9px;
  margin-top: 30px;
  margin-right: 7px;
}
.summary {
  margin-bottom: 10px;
}
.summary i {
  font-size: 1.2rem;
}
.summary p {
  line-height: 1.5;
  margin-top: 6px;
}
.projects-container h2 {
  margin-bottom: 10px;
}
.project {
  margin-bottom: 10px;
}
.project-title {
  /* display: flex;
  justify-content: space-evenly;
  align-items: baseline; */

  margin-bottom: 10px;
}
.project-title .icons {
  font-size: 1rem;
}
.project-title h3 {
  font-size: 1.2rem;
  margin-bottom: 5px;
  margin-right: 20px;
}
.project-title a {
  color: black;
  font-size: 1rem;
}
.project-name-and-stack {
  display: flex;
  align-items: baseline;
  margin-bottom: 7px;
}

.project .responsibilities {
  padding-left: 20px;
  margin-bottom: 10px;
  line-height: 1.5;
}

.employment-container h4 {
  margin-top: 10px;
  margin-bottom: 3px;
}
.date-and-location {
  display: flex;

  width: 60%;
  justify-content: space-between;
  margin-bottom: 3px;
}
.job-description p {
  color: grey;
}
.job-description ul {
  padding-left: 20px;
  line-height: 1.5;
  margin: 10px 0 10px 0;
}
